.number {

}

.operation {

}

.calculator-container {
    border-radius: 5px;
    padding: 10px;
    margin: 20% auto;
    width: 270px;
    height: 210px;
    background-color: darkgrey;
@include make-container();
}

.view{
    text-align: right;
    width: 250px;
    box-sizing: border-box;
    padding: 0 5px;
    border-radius: 5px;
    color: white;
    display:block;
    height:30px;
    background-color: rgba(92, 112, 124, 0.84);
    margin-bottom: 10px;
}

.mode {
    color: white;
    margin-left: 20px;
}
